
%body
  %div
    %form{:action => "/", :method => "post", :name => "date_range_input"}
      %p
        %p=@positive[:store_credit].to_i
        %p=@positive[:check].to_i
        %p=@positive[:credit_card].to_i
        %p=@positive[:gift_card].to_i
        %p=@positive[:cash].to_i
        %p=@positive[:tax].to_f
        %p HelloWorld
        %p=@positive.inspect
        %label{:for => "date"} Starting Date:
        %input#date{:name => "start_date", :type => "date", :value => @start_date}
        %label{:for => "date"} Ending Date:
        %input#date{:name => "end_date", :type => "date", :value => @end_date}
        %input{:type => "submit", :value => "Submit"}
        =submit_tag "Previous Day"
        =submit_tag "Next Day"
    %p

    
